/* We will need to use !important to override default styles */
body:before {
  font-family: Roboto, sans-serif;
  background-color: #fafafa;
  background-image: none !important;
}

.bg-primary {
  background-color: #1976d2 !important;
  background-image: none !important;
}

.navbar-brand {
  font-size: 24px;
}

.dropdown-item:hover {
  color: #37474f;
  background: #eceff1;
}

.dropdown-item.active {
  background-color: #e3f2fd;
  color: #37474f;
}

#toc-collapse {
  background-color: white !important;
}

.nav-link {
  color: #37474f;
}

.nav-link:hover {
  color: #1976d2;
}

.nav-link.active {
  color: #1976d2;
}

a {
  color: #1976d2;
}
